<div class="graphs-page-container">

    <h1>Real Time Energy Balance</h1>
    <div id="chart1-container">
        <canvas #chart1></canvas>
    </div>

    <div id="chart2-container">
        <canvas #chart2></canvas>
    </div>


    <div class="value-boxes-container">
            <div class="value-box">
                <p>est. Potential energy for storing</p>
                <div class="value-green">
                    <span class="value-text">{{ potentialEnergySavedGW }}</span><span class="unit">GW</span>
                </div>
            </div>

            <div class="value-box">
                <p>est. Potential energy for stabilizing</p>
                <div class="value-green">
                    <span class="value-text">{{ potentialEnergyStoringGW }}</span><span class="unit">GW</span>
                </div>
            </div>

        <div class="value-box">
            <p>est. Loss from overproduction</p>
            <div class="value-red">
                <span>€</span><span class="value-text">{{ potentialDailyRevenue1 }}</span><span>m</span>
            </div>
        </div>

        <div class="value-box">
            <p>est. Loss from underproduction</p>
            <div class="value-red">
                <span>€</span><span class="value-text">{{ potentialDailyRevenue2 }}</span><span>m</span>
            </div>
        </div>
    </div>

</div>
